* {
  margin: 0px;
  box-sizing: border-box;
  padding: 0px;
}

body {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("./images/paintbrush.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* background: #bd4934; */
  font-size: 16px;
  height: 100%;
}

html {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url("./images/paintbrush.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* background: #bd4934; */
  /* height: 100%; */
}
/* BANNER */

.headline {
  align-items: center;
  justify-content: center;
  display: flex;
  position: relative;
  height: 120px;
  padding: 30px;
  text-shadow: 4px 4px 4px #aaa;
  color: #6610f2;
  font-size: 70px;
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  /* border: 1px solid rgb(241, 105, 207); */
}

/* NAVBAR */

.nav > ul > li {
  position: "fixed";
  justify-content: center;
  align-items: center;
}

nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 1.5rem;
  margin-bottom: 30px;
  padding-top: 20px;
  align-items: center;
  list-style-type: none;
}

nav > ul > li > a {
  text-decoration: none;
  color: white;
  justify-content: center;
  align-items: center;
  text-shadow: 0.05em 0.05em 0.2em rgba(10, 10, 10, 0.9);
  margin: 50px;
  font-size: 16px;
}

/* HAMBURGER */
.offcanvas-header>a {
 padding-left: 1px;
}


/* HOME PAGE */

.home-wrapper {
  display: flex;
  flex-shrink: 1;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}

.slogan {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  color: white;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 100px 200px;
  margin-top: 100px;
  /* backdrop-filter: blur(10px);
  border-radius: 20px; */
}

.slogan > Button {
  margin: 10px;
}

/* SIGN-UP WRAPPER */

.terms {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.terms > li {
  list-style-type: none;
  text-decoration: none;
  padding: 3px;
}

.terms > li > a {
  list-style-type: none;
  color: rgb(77, 77, 247);
}

.terms:hover > li > a {
  opacity: 0.5;
  color: white;
}

.footer {
  text-align: center;
  color: white;
  margin-bottom: 0px;
}

.social {
  padding: 10px;
  /* margin-bottom: 30px; */
}

.social h4 {
  color: white;
}

.fa {
  padding: 10px;
  border-radius: 10px;
  font-size: 20px;
  width: 50px;
  text-decoration: none;
  margin: 5px 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa:hover {
  opacity: 0.9;
  border: 1px solid #6610f2;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-github {
  background: rgb(43, 42, 42);
  color: white;
  /* border: 2px solid whitesmoke; */
}

.fa-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  color: white;
}

.about-media > .fa {
  padding: 10px;
  width: auto;
  height: auto;
}

.email-me {
  padding-top: 10px;
  font-size: 25px;
}
.email-me a {
  text-shadow: 0.05em 0.05em 0.2em rgba(10, 10, 10, 0.9);
  text-decoration: none;
}

/* MEDIA QUERIES */

/* If the screen size is 701px wide or more, */
@media screen and (min-width: 701px) {
  .slogan > h1 {
    font-size: 80px;
  }
  .slogan {
    align-items: center;
    justify-content: center;
  }
}

/* If the screen size is 700px wide or less, */
@media screen and (max-width: 700px) {
  .slogan {
    font-size: 40px;
    text-align: center;
    padding: 100px 40px;
  }
  .slogan > h1 {
    font-size: 40px;
    text-align: center;
  }

  .slogan > h2 {
    font-size: 20px;
  }

  nav > ul {
    display: none;
    padding: 50px;
    /* flex-direction: column; */
  }

  .shop-header {
    align-content: flex-start;
    padding: 0;
    margin-left: 20px;
    width: 120px;
  }
}
